requests
pandas
tqdm
gspread
python-dotenv
krippendorff
statsmodels
numpy
matplotlib
seaborn
scipy
wordcloud
torch
transformers
datasets
scikit-learn
accelerate
ipywidgets
lightgbm
sentence-transformers